@inherits NoJS.Card.NoJSCardBase

<div class="card">
    <div class="card-header @(HeaderIsVisible ? "nojs-card-itenojs-active" : "nojs-card-itenojs-inactive")">

        @Title
    </div>
    <div class="card-body">
        @ChildContent
    </div>
    <div class="card-footer  @(FooterIsVisible  ? "nojs-card-itenojs-active" : "nojs-card-itenojs-inactive")">
        @Footer
    </div>
</div>

@code {

}