@inherits NoJS.PDFViewer.PDFViewerBase
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
<a href="data:application/pdf;base64,@Convert.ToBase64String(Document)" download="@DocumentName" target="_blank"><img src="@SaveBtnImage" /></a>

<embed id="document" src="data:application/pdf;base64,@Convert.ToBase64String(Document)" width="@DocumentWidth" height="@DocumentHeight" type="application/pdf" />

@code {
}