<div class="simple-form">

    <div class="fornojs-group">
        <label for="first-name">First Name</label>
        <input type="text" class="fornojs-control" id="first-name" placeholder="Enter First Name" />
    </div>

    <div class="fornojs-group">
        <label for="last-name">Last Name</label>
        <input type="text" class="fornojs-control" id="last-name" placeholder="Enter Last Name" />
    </div>

    <button @onclick="SubmitForm" class="btn btn-primary">Submit</button>
</div>

@code {

    void SubmitForm()
    {
    }

}